<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory>
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="show_sql">true</property>
		<!--<property name="connection.driver_class">NHibernate.Driver.OracleManagedDataClientDriver</property>
		<property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
		<property name="connection.connection_string">Data Source=devdb.pw.local:1521/DEV;User Id=MNP_AVEA;Password=mnp;Validate Connection=true;</property>-->
		<property name="connection.connection_string">Server=10.10.5.36;Port=5432;Database=dev;User Id=avea_uat;Password=avea_uat;Command Timeout=0;Timeout=0</property>
		<property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
		<property name="dialect">NHibernate.Dialect.PostgreSQL83Dialect</property>
	</session-factory>
</hibernate-configuration>